@charset "UTF-8";

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/4vqKRIwnQQGUQQh-PnvdMA.woff2) format('woff2'), url(../fonts/5-AYViExptypIdFoLKAxTA.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/P18Nsu9EiYldSvHIj_0e5w.woff2) format('woff2'), url(../fonts/XpaepWHcooQHSRnzoohUng.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/_RSiB1sBuflZfa9fxV8cOg.woff2) format('woff2'), url(../fonts/wXeMvRh7Gui36p_I04Ex6g.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/_IxjUs2lbQSu0MyFEAfa7VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(../fonts/_IxjUs2lbQSu0MyFEAfa7T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(../fonts/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(../fonts/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
