@charset "UTF-8";

			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			body > h1 {
				position:fixed;
				right:0;
				bottom:0;
				height:1px;
				width:1px;
				overflow:hidden;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}
			html, body{
				height:100%;
			}
			html {
				-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
			}
			body {
				-webkit-text-size-adjust:none;
				margin:auto;
				background-color:#FEFEFE;
				-webkit-font-smoothing:antialiased;
				color:#121212;
				font-family: 'Helvetica Neue', 'Roboto', sans-serif;
			}
			input, button {
				font-family: 'Helvetica Neue', 'Roboto', sans-serif;
			}
			main {
				box-sizing:border-box;
				
			}
			footer {
				box-sizing:border-box;
				padding:0 32px 0 32px;
				font-size:10px;
				clear:both;
				float:none;
				max-width:640px;
				margin:auto;
			}
			a {
				transition:333ms all ease;
				display:inline-block;
				color:inherit;
				text-decoration: inherit;
				padding:0 0 2px 0;
				border-bottom:1px solid transparent;
			}
			a:hover {
				border-bottom:1px solid #121212;
			}
			.ip-list {
				padding:24px 0 0 0;
			}
			.ip-list li {
				margin:0 0 24px 0;
			}
			.ip-list a {
				display:block;
				border-bottom:0;
				padding:0 24px 0 20px;
				border-left:4px solid transparent;
			}
			.ip-list a:hover {
				border-left:4px solid #121212;
			}
			/*
			body {
				cursor:default;
				-webkit-user-select: none; 
				-moz-user-select: none; 
				-ms-user-select: none; 
				-o-user-select: none;
				user-select: none; 
			}
			p, h2 {
				-webkit-user-select: text;
				-moz-user-select: text;
				-ms-user-select:text;
				-o-user-select: text;
				user-select: text;
			}*/
			.no-render {
				display:none;
			}
			.render {
				display:block !important;
			}
			.projects-list-view, body .project-view {
				transition:500ms opacity ease;
				clear:both;
				box-sizing:border-box;
				font-family: 'Lora', serif;
				font-size:14px;
				margin: 0 auto -32px auto;
				max-width:640px;
			}
			body .projects-list-view {
				padding:80px 32px 0 32px;
			}
			body .project-view {
				padding:64px 32px 0 32px;
				overflow:hidden;
				opacity:0;
			}
			.view-project .projects-list-view {
				overflow:hidden;
				opacity:0;
				height:0;
				max-height:0;
				min-height:0;
				padding:0;
				margin:0;
			}
			.view-project .project-view{
				height:auto;
				max-height:auto;
				min-height:auto;
				opacity:1;
				overflow:visible;
			}
			footer, .footer-pusher {
				clear:both;
				height: 32px;
			}
			header {
				left:0;
				top:0;
				box-sizing:border-box;
				padding:20px 32px 16px 24px;
				position:fixed;
				font-size:14px;
				height:56px;
			}
			nav ul li a:hover {
				border-bottom:1px solid #FFFFFF;
			}
			nav ul li {
				margin:0 16px 0 0;
				display:inline-block;
			}
			button {
				outline:0;
				cursor:inherit;
				text-align:center;
				border:none;
				background-color: transparent;
				margin:0;
				padding:0;
			}
			::selection {
				color:#FFFFFF;
				background: #0099FF;
			}
			::-moz-selection {
				color:#FFFFFF;
				background: #0099FF;
			}
			strong {
				text-transform: uppercase;
				font-weight: 700;
			}
			a.active {
				font-weight:700;
			}
			.ip-list {
				text-align:center;
			}
			.ip-list a {

			}
			.ip-list h1{
				font-size:20px;
				margin:0 0 12px 0;
			}
			.projects-list-view section:last-of-type {
				margin:0 0 48px 0;
			}
			.projects-list-view section {
				margin:0 auto 48px auto;
				overflow:hidden;
				padding: 0 0 48px 0;
				box-sizing: border-box;
				border-bottom: 1px solid #EEEEEE;
			}
			.projects-list-view article:first-of-type h1{
				text-transform: inherit;
				font-family: 'Helvetica Neue', 'Roboto', sans-serif;
			}
			.projects-list-view p {
				line-height:2em;
				margin:0 0 24px 0;
			}
			.projects-list-view h1 {
				font-size:32px;
				line-height:1.125;
				margin:0 auto 24px auto;
			}
			.projects-list-view article h1 {
				margin:0 auto 16px auto;
			}
			.project-view > aside {
				font-size:10px;
				display:block;
				padding:0 0 48px 0;
			}
			.project-view > aside li {
				margin:0 0 8px 0;
			}
			.project-view > aside li:last-of-type {
				margin:0;
			}
			.projects-list-view ul, .project-view > aside ul {
				overflow:auto;
				font-family: 'Helvetica Neue', 'Roboto', sans-serif;
			}
			.projects-list-view ul li {
				margin:0 0 16px 0;
				width: 50%;
				float: left;
			}
			.projects-list-view article ul li {
				width:auto;
				float:none;
			}
			.projects-list-view ul li:last-of-type {
				margin:0;
			}
			.projects-list-view article {
				margin:0 auto 48px auto;
				overflow:hidden;
				padding: 0 0 48px 0;
				box-sizing: border-box;
				border-bottom: 1px solid #EEEEEE;
			}
			.projects-list-view section:last-of-type {
				border-bottom:none;
			}
			/*
			.projects-list-view a, .project-view aside ul a {
				color:#0077BB;
			}
			.projects-list-view a:hover, .project-view aside ul a:hover {
				border-bottom:1px solid #0077BB;
			}*/
			.projects-list-view article h1 {
				font-size:32px;
  				font-weight: 700;
			}
			.projects-list-view strong {
				letter-spacing:2px;
				text-transform: uppercase;
			}
			.project-view section {
				margin:0 auto 48px auto;
				padding:0 0 48px 0;
				box-sizing:border-box;
				border-bottom:1px solid #EEEEEE;
			}
			.project-view section ol li {
				margin: 0px 0px 12px;
				line-height: 1.33em;
				text-indent: -16px;
			}
			.project-view section ol {
				font-family:'Helvetica Neue', 'Roboto',sans-serif;
				margin: 24px 0 24px 48px;
  				font-weight: 700;
			}
			.project-view section p a,.project-view section p a:hover {
				padding:0;
				border:0;
				display:inline;
			}
			.project-view section p a:hover {
				text-decoration: underline;
			}
			.project-view section:first-of-type h1{
				max-width:90%;
				font-family: 'Helvetica Neue', 'Roboto', sans-serif;
				font-weight:700;
			}
			.project-view section > h1 {
				line-height:1.125;
				text-align:center;
				font-size:32px;
				margin:0 auto 16px auto;
			}
			.project-view blockquote {
				margin:0 0 8px 0;
			}
			.project-view cite {
				text-transform: uppercase;
				font-style:normal;
			}
			.project-view section > h2 {
				font-family: 'Helvetica Neue', 'Roboto', sans-serif;
				font-size:12px;
				line-height:1.33;
				color:#5A5A5A;
				text-align: center;
				margin:0 auto 40px auto;
			}
			.tab-space {
				  margin: 0 0 0 40px;
  					display: inline;
			}
			.project-view p {
				line-height:2em;
				margin: 0 0 16px 0;
				border:0;
				font-weight:inherit;
				font-family:inherit;
			}
			.project-view p:last-of-type {
				margin:0;
			}
			.universal-elements{
				z-index:3;
			}
			.universal-elements .back-button img {
				width:48px;
				height:48px;
			}
			.universal-elements .back-button {
				visibility:hidden;
				opacity:0;
				z-index:-1;
				transition:0.2s opacity ease;
			}
			.universal-elements .back-to-top {
				visibility:hidden;
				transition:0.2s opacity ease;
				font-weight:700;
				position:fixed;
				right:20px;
				bottom:12px;
				opacity:0;
				z-index:3;
			}
			.view-project .back-to-top.active {
				visibility:visible;
				opacity:1;
			}
			.universal-elements .back-to-top span {
				position: relative;
				margin: 0px 0px 0px 4px;
				top: 17px;
				font-size:10px;
			}
			.universal-elements .back-to-top img {
				height:48px;
				width:48px;
				float:left;
			}
			.view-project .universal-elements .back-button {
				text-decoration: none;
				border:none;
				z-index:3;
				opacity:1;
				visibility:visible;
				font-family: sans-serif;
				cursor: pointer;
				position: fixed;
				left: 20px;
				top: 12px;			}
			.universal-elements .back-button:hover, .universal-elements .back-to-top:hover {
				opacity:0.6;
			}
			.universal-elements .back-button span {
				display: inline-block;
				font-weight: 700;
				font-size: 10px;
				position: relative;
				text-transform: uppercase;
				top: -23px;
			}
			.user-research {
				margin:24px 0 24px 0;
			}
			.user-research ul{
				font-family: 'Helvetica Neue', 'Roboto', Sans-serif;
			}
			.user-research li:last-of-type {
				margin:0;
			}
			.user-research li {
				overflow:auto;
				padding:0 32px 0 32px;
				margin:0 0 20px 0;
				box-sizing:border-box;
				clear:both;
			}
			.user-research ul li figure {
				float: left;
				margin: 0px 24px 0px 0px;
				border: medium none;
				width: 96px;
			}
			.user-research ul li figure img {
				border:0;
			}
			.user-research h1 {
				font-weight:700;
				font-size: inherit;
				margin:0 0 8px 0;
			}
			.user-research h2 {
				font-size: inherit;
 				margin: 0 0 12px 0;
 			}
			.user-research p {
				line-height: 1.75em;
				font-size: 12px;
				overflow:hidden;
			}
			/*
			.project-view figure {
				overflow:hidden;
				margin:0 0 32px 0;
			}
			.project-view figure img {
				cursor:pointer;
				float:left;
				display:block;
				width:32.5%;
				margin:0 1.25% 0 0;
			}*/
			.project-view button img {
				width:100%;
			}
			/*
			.image-gallery > img {
				width:100%;
				float:left;
			}
			.image-gallery > img.active {
				z-index:2;
			}
			.image-gallery {
				  margin: 0 0 16px 0;
				  height: 356px;
				  overflow: hidden;
			}*/

			.project-view strong {
				letter-spacing:2px;
			}
			.image-gallery img:last-of-type{
				margin:0;
			}
			/*
			.project-view .next-pic, .project-view .prev-pic {
				cursor:pointer;
				height: 32px;
				width: 32px;
				position:absolute;
				top:50%;
				margin:-16px 0 0 0;
				border-radius:100%;
				border:2px solid #fff;
				box-shadow:0 0 4px rgba(0,0,0,0.3);
				box-sizing:border-box;
				transition:0.2s box-shadow ease;
				z-index:3;
			}*/

			.image-gallery {
				width:100%;
				overflow:auto;
			}
			.project-view figure {
				margin:0 0 16px 0;
				transition: 0.2s all ease;
				position:relative;
				background-color: #FFF;
				box-sizing: border-box;
				z-index:1;
				min-width:32px;
				min-height:32px;
			}
			.project-view figure img:last-of-type {
				margin:0;
			}
			.project-view figure img {
				border:1px solid #F5F5F5;
				box-sizing:border-box;
				width:100%;
				margin:0 0 16px 0;
			}
			.project-view figure.full-screen {
				  position: fixed;
				  top: 0;
				  left: 0;
				  padding: 32px;
				  z-index: 4;
				  min-height: 100%;
				  min-width: 100%;
			}
			body main {
				position:relative;
				z-index:1;
			}
			body footer {
				color:#5a5a5a;
			}

			.project-view figure.full-screen img {
				border:0px solid transparent;
				position: absolute;
				top: 50%;
				padding: 32px;
				left: 0;
			}
			.project-view div {
				position:relative;
			}
			.project-view .next-pic {
				right:16px;
			}
			.project-view .prev-pic {
				left:16px;
			}
			.nda {
				text-decoration: line-through;
			}
			.nda a:hover:after {
				color:red;
				content:" // NDA";
			}
			.nda a:hover {
				cursor:not-allowed;
				border-bottom:1px solid transparent;
			}
			figure .next-pic:hover, figure .prev-pic:hover {
				box-shadow:0 0 4px rgba(0,0,0,0.6);
			}
			.zoom-img {
				cursor: -webkit-zoom-in;
			    cursor: -moz-zoom-in;
			}
			.zoom-img-overlay {
				height: 100%;
			    width: 100%;
			    position: fixed;
			    top: 0px;
			    left: 0px;
			    z-index: -1;
			    opacity: 0;
			    visibility: hidden;
			    outline: none;
			    background-color: rgb(255, 255, 255);
			    text-align: center;
			    transition:0.2s all ease-in-out;
			    -webkit-transform: translateZ(0);
			   -moz-transform: translateZ(0);
			   -ms-transform: translateZ(0);
			   -o-transform: translateZ(0);
			   transform: translateZ(0);
			}
			.active.zoom-img-overlay {
				z-index:10;
				opacity:1;
				visibility:visible;
				cursor: -webkit-zoom-out;
				cursor: -moz-zoom-out;
			}
			.zoom-img-big {
				outline: none;
			    width: 100%;
			    max-width: 800px;
			    position: relative;
			    padding:32px;
			    box-sizing:border-box;
			    top: 50%;
			    transform: translateY(-50%);
			    -webkit-transform: translateY(-50%);
			    opacity:0;
			    transition:0.2s all ease-in-out;
			    cursor: -webkit-zoom-out;
				cursor: -moz-zoom-out;
				transition-delay: 0.2s;
			}
			.active.zoom-img-overlay .horz-limit.zoom-img-big {
				width:auto;
				max-width:auto;
			}
			.active.zoom-img-overlay .zoom-img-big {
				opacity:1;
			}
			@media screen and (max-width: 809px) {
			    .projects-list-view section:nth-of-type(3) {
			        clear:both;
			    }
			}
			@media screen and (max-width: 664px) {
				.zoom-img-big {
					padding:24px;
				}
				.universal-elements .back-to-top {
					display:none;
				}
				.projects-list-view ul li {
					width: auto;
					float: none;
				}
				.view-project .universal-elements .back-button {
					box-sizing: border-box;
					  padding: 2px 0 0 14px;
					  height: 48px;
					  width: 100%;
					  left: 0;
					  top: 0;
					  background-color: rgba(0,0,0,0.15);
				}
				body .projects-list-view{ 
					padding:64px 24px 0 24px;
				}
				.view-project .project-view{
					padding:72px 24px 0 24px;
				}
				body footer {
					padding:0 24px 0 24px;
				}
			}
			@media screen and (max-width: 420px) {
				.zoom-img-big {
					padding:16px;
				}
				body footer {
					padding:0 16px 0 16px;
				}
				body .projects-list-view { 
					padding:32px 16px 0 16px;
				}
				.view-project .project-view{
					padding:72px 16px 0 16px;
				}
				.user-research ul li figure {
					width: 32px;
					margin: 0px 16px 0px 0px;
				}
				.user-research li {
					overflow:auto;
					padding:0 24px 0 24px;
				}
				.user-research img {
					width: 35%;
				}
				.user-research h2 {
					line-height:1.33em;
				}
				.projects-list-view {
					padding:46px 24px 0 24px;
				}
				
				header {
					color:#FFF;
					background-color: #121212;
					width:100%;
					padding:22px 24px 0 24px;
					box-shadow: 0 0 6px rgba(0,0,0,0.6);
				}
				nav ul li {
					margin:0 32px 0 0;
				}
				.projects-list-view article {
					max-width:none;
					width:100%;
				}
				.projects-list-view ul li {
					margin:0 0 24px 0;
				}
				.projects-list-view h1 {
					margin:0 0 32px 0;
				}
				.projects-list-view h1,
				.projects-list-view article h1,
				.project-view section > h1 {
					font-size:24px;
				}
			}
			.project-view img[src='Error.src']{
				   display: none;
			}
			.dialog-box.active {
				z-index:3;
				visibility:visible;
				opacity:1;
				top:25%;
				transform: scale(1);
			}
			.universal-elements {
				position:fixed;
				left:0;
				top:0;
				height:0;
				width:0;
			}
			*{
				cursor:default;
			}
			/*
			p, p *, blockquote, cite{
				-moz-user-select: text;
				-o-user-select: text;
				-webkit-user-select: text;
				user-select: text;
				-ms-user-select: text;
				cursor:text;
			}
			*/
			a, button, a *, button * {
				cursor:pointer;
			}
			.dialog-box {
				transform: scale(0.9);
				transition:200ms opacity ease, 200ms top ease, 200ms visibility ease, 200ms transform ease;
				z-index:-1;
				opacity:0;
				visibility:hidden;
				background-color: #FFF;
				box-shadow:0 0 4px rgba(0,0,0,0.4);
				position:fixed;
				left:50%;
				top:23%;
				margin:0 0 0 -150px;
				padding:24px;
				box-sizing:border-box;
				width:300px;
				border:1px solid #d8d8d8;
			}
			.dialog-box h1{
				font-size:32px;
				font-weight:700;
				margin:0 0 16px 0;
			}
			.dialog-box p {
				font-size:14px;
				line-height:1.5em;
				margin:0 0 32px 0;
			}
			.button { 
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				-webkit-tap-highlight-color: transparent; /* For some Androids */
				height:40px;
				box-sizing:border-box;
				transition:200ms all ease;
				width: 128px;
				padding: 10px 0 10px 0;
				font-size: 14px;
				font-weight: 700;
			}
			.button-1 {
			  border: 1px solid #0077bb;
			  color: #0077bb;
			  cursor:pointer;
			}
			.button-1:hover {
				background-color:#0077BB;
				color:#FFF;
			}
			.b-fr {
			  float: right;
			}
			.b-single {
				overflow: hidden;
			  clear: both;
			}
			.element-loader {
				top:0;
				  height: 48px;
				  width: 48px;
				  position: fixed;
				  right: 0;
				  z-index: -1;
				  visibility: hidden;
				  opacity: 0;
				  transition: 200ms all ease;
			}
			.element-loader.active {
				opacity:1;
				z-index:3;
				visibility:visible;
			}